body {
  margin: 0;
  background: #FFEAF1;
  font-family: "Degular", sans-serif;
  color: #FF4FB8;
  overflow-x: hidden;
}

/* BACKGROUND HOME */
.bg {
  position: fixed;
  inset: 0;
  background-image: url("images/cover.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* HEADER HOME */
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 40px;
  z-index: 10;
}

/* NOME GRANDE */
.left {
  display: flex;
  flex-direction: column;
  font-family: "HC Gleam", serif;
  line-height: 0.85;
  color: #FF4FB8;
}

.big {
  font-size: 220px;
  font-weight: 400;
}

/* MENU */
.menu {
  font-family: "New Spirit", serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FF4FB8;
}

/* PROJECT LIST */
.projects {
  position: absolute;
  bottom: 60px;
  right: 40px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  z-index: 5;
}

.project {
  font-size: 14px;
  font-family: "Degular", sans-serif;
  color: #FF4FB8;
  text-decoration: none;
  transition: 0.3s;
}

.project:hover {
  transform: translateX(-5px);
  opacity: 0.6;
}

.disabled {
  opacity: 0.3;
}

/* ===== CASE STUDY ===== */

body.project-page-body {
  background: #ffffff;
}

.project-page {
  padding: 0;
  margin: 0;
}

.project-page img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .big {
    font-size: 80px;
  }

  .top {
    padding: 20px;
  }

  .projects {
    right: 20px;
    bottom: 30px;
  }
}
